body{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #cc0000;
    width: auto;
}
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Wrapper for the entire page */
.wrapper {
    width: 100%;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: #0d0d0d;
    width: 100%;
    height: 140px;
    border-bottom: 3px solid rgb(48, 48, 48);
    font-size: 20px;
}

.logo img {
    height: 200px;
}

/* Navigation Menu */
.menu ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ffffff;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
}

.hero .button {
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 800;
    border-radius: 5px;
}

.hero .button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

/* About Section */
.about {
    border-top: 2px solid rgb(48, 48, 48);
    padding: 70px 50px;
    background-color: #121212;
    color: #fff;
    text-align: center;
}

.about .box {
    margin: 0 auto;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.about p {
    font-size: 18px;
}

/* Features Section */
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 50px;
    background-color: #1a1a1a;
    color: #fff;
}

.content .box {
    background-color: #6d6c6c;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.content h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.content .button {
    background-color: #1fd20f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.content .button:hover {
    background-color: #cc0000;
}

/* Contact Section */
.table {
    padding: 80px 50px;
    color: #fff;
    text-align: center;
    border-top: 2px solid rgb(48, 48, 48) ;
}

.table h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.table p {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Footer */
.footer {
    border-top: 2px solid rgb(33, 33, 33);
    background-color: #0d0d0d;
    color: #888;
    text-align: center;
    padding: 30px 50px;
}

.footer-link {
    color: #ff0000;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    color: #ffffff;
}

.footer p {
    margin-top: 20px;
    font-size: 14px;
}

